*{
    margin: 0;
}

p{
    font-size: 70px;
       
}
body{
    background: black;
}


.container{
    display: flex;
}
.mas {
    display: none;
}
.uno{
height: 120px;
width: 120px;
left: 100;
border: 50px;
border-radius: 80px;
background-image: conic-gradient( green ,40deg, red,blue);
animation: mover 4s linear infinite;
}
@keyframes mover{
    from{
transform: rotate(0deg);
    }to{
transform: rotate(307deg);
    }
}
.dos {
    background: rgb(20, 1, 10);
    height: 110px;
    width: 110px;
     margin:-115px auto;
     left: 5px;
    z-index: 2;
    position: absolute;
    border-radius: 80px;
box-shadow:3px 3px 5px blue;
    }

   